name: Deploy site

on:
  push:
    branches:
      - main

jobs:
  build:
    uses: jco-digital/deploy-wp-action/.github/workflows/build-project.yml@v4
    with:
      is_jcore2: true
      php_version: 8.2
      slack_channel: C07C91377D4
    secrets: inherit
  deploy:
    needs: [build]
    if: github.ref == 'refs/heads/main' # Example of conditional deploy
    uses: jco-digital/deploy-wp-action/.github/workflows/server-deploy.yml@v4
    with:
      server_url: siteuser@server
      base_path: files
      paths: >-
        wp-content/themes/projectname/:wp-content/themes/projectname/,
        wp-content/themes/jcore2/:wp-content/themes/jcore2/,
        vendor/:vendor/
      slack_channel: C07C91377D4
    secrets: inherit
